body {
	font-size:4vw;
	font-family: Roboto, Helvetica, sans-serif
}

.row {
	display: inline-block;
	height: auto;
	width:100%;
	
}

.group {
    border-radius: 0.3em;
    background-color:#2B4C6F;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

.section_start {
    border-radius: 0.3em 0.3em 0 0;
	color: #010D19;
    background-color:#607C9A;
	display: block;
	text-align:center;
	text-decoration: none;
}

.label {
	color: #010D19;
	background-color:#BAC8D7;
	display: block;
	text-align:center;
	text-decoration: none;
}

.button {
	background-color: #010D19;
	padding: 0.6em 0 0 0;
	display: inline-block;
	min-width: 46%;
	min-height: 2em;
	text-align:center;
	text-decoration: none;
	line-height:100%;
}

.fullwidth {
    min-width:100%;
}

.on {
	color: green;
	float:left;
}

.off {
	color: red;
	float:right;
}

#color_picker {
	width:100%; 
	margin-left:auto;
	margin-right:auto;
}

#color_controls {
	margin-top: 0.5em;
}

#powerbutton {
	position:absolute;
	z-index:100;
    margin-left: 0.5em;
}

#colorwheel {
	margin: auto;
}

#overlay {
    z-index:101;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
#loading {
    z-index:102;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1em 0 0 -1em;
}
